.block {
  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: $primaryColor;
    margin-top: 10px;
  }

  &__meta {
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
  }

  &__description {
    color: $primaryColor;
    margin: 10px 0 15px;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__button {
    background-color: $primaryColor;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid $primaryColor;
    margin-top: 12px;

    a {
      color: $secondaryColor !important;
    }

    &:hover {
      border: $secondaryColor 2px solid;
    }
  }
}

@media screen and (min-width: 601px) {
  .block {
    &__title {
      font-size: 32px;
      margin-top: 0;
    }
  }
}
