.block {
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: $primaryColor;
  }

  &__meta {
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
  }

  &__description {
    color: $primaryColor;
    margin: 10px 0 15px;
  }

  &__button {
    background-color: $primaryColor;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid $primaryColor;

    a {
      color: $secondaryColor !important;
    }

    &:hover {
      border: $secondaryColor 2px solid;
    }
  }
}
