.app {
  .current-location-block {
    margin-top: 10px;
  }

  .card__button {
    a {
      color: white !important;
      background-color: $primaryColor !important;
    }
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .trip-counter {
    &__card {
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
    }

    &__number {
      font-size: 32px;
    }
  }

  .section {
    margin-bottom: 30px;

    &__title {
      position: relative;
      text-align: center;
      margin-bottom: 20px;

      span {
        display: inline-block;
        margin: 0 auto;
        background: white;
        position: relative;
        z-index: 2;
        padding: 0 8px;
        font-size: 22px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 1px solid black;
        top: 30px;
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .app {
    .below-the-fold {
      margin: 0 auto;
    }

    .padding-offset {
      height: 200px;
    }

    .most-recent-article {
      top: 0;
      padding: 40px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .section {
      &__title {
        font-size: 32px;
        margin-bottom: 12px;
      }
    }
  }
}
