.welcome {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: "Permanent Marker", cursive;
  font-size: 19vw;
  color: $primaryColor;
}

@media screen and (min-width: 601px) {
  .welcome {
    top: 25%;
    font-size: 13vw;
  }
}
