$primaryColor: #333d29;
$secondaryColor: #656d4a;
$primaryColorLight: #c2c5aa;
$secondaryFont: "Permanent Marker", cursive;
$boxShadow: 0px 10px 20px -4px rgba($primaryColor, 0.2);
$boxShadowSecondary: 0px 6px 10px -4px rgba($primaryColor, 0.2);

body {
  color: $primaryColor !important;
}

a {
  text-decoration: none !important;
  color: $primaryColor !important;
}

.app {
  .btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .card {
    border-color: transparent;
    box-shadow: $boxShadowSecondary;
  }
}

@import "../components/Hero/hero";
@import "../components/NavBar/nav";
@import "../components/Countdown/clock";
@import "../components/Block/block";
@import "../components/ImageGrid/image-grid";
@import "./home";
@import "./trip";
@import "./stop";
@import "./gallery";
@import "./swiper";
@import "./footer";
