.app {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(247.2deg, #e32f3e 0.57%, #eb6b3c 99.25%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  &::before {
    content: "";
    display: block; /*missing prop*/
    background: url("../images/mobile-container.png") right top no-repeat;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 767px;
    z-index: 1;
  }
}

@import "./bg";
@import "./clock";

@media screen and (min-width: 601px) {
  .app {
    &::before {
      height: 600px;
      background: url("../images/container.png") center top no-repeat;
    }
  }
}
