$primaryColor: #221f3d;
$secondaryColor: #fcf4d7;
$secondaryFont: "Permanent Marker", cursive;
$boxShadow: 0px 25px 50px -12px rgba($primaryColor, 0.2);

body {
  color: $primaryColor;
}

a {
  text-decoration: none !important;
  color: $primaryColor !important;
}

@import "../components/Hero/hero";
@import "../components/NavBar/nav";
@import "../components/Countdown/clock";
@import "../components/Block/block";
@import "../components/ImageGrid/image-grid";
@import "./home";
@import "./gallery";
@import "./swiper";
@import "./footer";
